.img-icon {
  border-radius: 50%;
  height: 50px;
  padding: 2px;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: gold;
  color: var(--bs-dark);
}

#header-middle{
  margin-top: 10px;
}

.logout-button {
  background-color: #282c34; 
  color: white;
  margin: 5px;
  margin-top: 10px;
}

.icons {
  padding: 5px;
  color: var(--dark);
}

