.signUp-body{
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.username, .password{
    margin: 5px;
}
.signUp-button{
    background-color:gold;
    margin: 5px;
}
.signUP-button:hover {
    background-color: goldenrod; 
  }

