.login{
    background-color: var(--background);
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.username, .password{
    margin: 5px;
}
.submit{
    display: flex;
    justify-content: center;
}
.entry{
    display: flex;
    justify-content: center; 
}
.submit-button{
    background-color:gold;
    margin: 5px;
}
.submit-button:hover {
    background-color: goldenrod; 
}